
.dashboard-section {
    margin-top: 20px;
    padding:20px;
    background:white;
    border-radius:7px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

td {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
}